@import url('./reset.meyer.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

header {
    background-color: black;
    padding: 0.5rem;
}

header h1 {
    font-size: 2rem;
    color: white;
}

main, main figure, main figure img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .device {
        display: none;
    }
}
